@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap&subset=latin-ext,tibetan');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800&display=swap');

@font-face {
  font-family: "Baloo Chettan 2";
  src: url("DroidSerif-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo Chettan 2";
  src: url("fonts/BalooChettan2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Baloo Chettan 2";
  src: url("BalooChettan2-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Baloo Chettan 2";
  src: url("fonts/BalooChettan2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jomolhari";
  src: url("fonts/Jomolhari-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.td {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

html {
  overflow-x: hidden;
}

body {
  color: #f2b74f;
  background-color: #800000;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  margin: unset;
  padding: unset;
  font-family: 'Baloo Chettan 2', cursive;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

footer {
  padding: 0rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

nav {
  /*! width: ; */
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 0rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1;
  margin: 1rem 0rem;
}

hr {
  height: 4px;
  border-radius: 2px;
  border: none;
  background-color: #800000;
}

p {
  font-size: 1.4rem;
  margin: 1rem 0rem;
  line-height: 1.2;
}

a {
  font-size: 1.4rem;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  transition: filter 200ms ease;
}

a:hover {
  filter: saturate(0.9)brightness(0.9);
}

td {
  color: #f2b74f;
}
td span{  font-size: 1.2rem !important;
}

select {
  background-color: #800;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.2rem !important;
  color: #f2b74f !important;
  font-family: 'Baloo Chettan 2', cursive !important;
}

option {
  color: #f2b74f !important;
  font-size: 1.2rem !important;
  font-family: 'Baloo Chettan 2', cursive !important;
}

input {
  font-size: 1.2rem !important;
  font-family: 'Baloo Chettan 2', cursive !important;
}

.item-wrapper .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item {
  margin: 1rem 0rem;
  display: flex;
  flex-flow: row;
  padding: 1rem 0rem;
  /*! border-bottom: 1px solid #0002; */
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.item:nth-child(even) {
  flex-flow: row-reverse;
}

.item-title {
  line-height: 1;
  /*! border-bottom: 2px dashed #800; */
  width: auto;
}

.item-info {
  width: auto;
  padding: 0rem 1rem;
}

.item .item-info {
  width: 50%;
  padding: 0rem 1rem;
}

.item-fw .item-info {
  width: 100% !important;
}

.item-fw .item-image {
  display: none;
}

.item-image {
  min-width: 20%;
  /*! margin-right: 1rem; */
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 40%;
}

.item-image img {
  background: white;
  border-radius: 4px;
  /*! border: 4px solid #800; */
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 200ms ease;
}

.item-image:hover img {
  transform: scale(1.05);
}

.item-purchase {
  display: flex;
  flex-flow: row;
  /*! justify-content: ; */
}

.img-lg {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.max-content {
  width: max-content;
}

.read {
  height: 128px;
  overflow: hidden;
  border-radius: 4px;
  padding-bottom: 4rem;
}

.read-text {
  color: #f2b74f;
  background: #800;
  margin: auto;
  position: relative;
  margin-top: -32px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  display: flex;
  cursor: pointer;
  width: max-content;
  height: max-content;
  flex-flow: column;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 1rem;
  z-index: 2;
  text-shadow: 1px 1px #c29244, 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.read-text h2 {
  margin: unset;
}

.read-text:hover {
  color: #800;
  background: #f2b74f;
}

.inline {
  display: inline-block;
}

.item-column{margin: 2rem 0rem;}

.item-price {
  width: max-content;
  margin: auto 0px;
  padding-left: 0.5rem;
}

.item-price p {
  font-size: 2rem !important;
  margin: auto 0px;
  font-weight: bolder;
}

.item-description p {
  line-height: 1.2;
  font-size: 1.2rem;
}

.purchase-button {
  width: max-content;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0.5rem 2px;
  padding: 0rem 0.5rem;
  border: 4px solid #800000;
  border-radius: 4px;
  cursor: pointer;
  color: #800000;
  background-color: #f2b74f;
  transition: color 200ms, background-color 200ms ease;
}

.purchase-button:hover {
  color: #f2b74f;
  background-color: #800000;
}

.options-button {
  width: 170px;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0.5rem 0rem;
  padding: 0rem 0.5rem;
  border: 4px solid #800000;
  border-radius: 4px;
  cursor: pointer;
  transition: color 200ms, background-color 200ms ease;
  text-align: center;
}

.extra {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border: 4px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.25rem;
  background-color: #800000;
  border-radius: 4px;
}

.extra a {
  color: #f2b74f;
}

.options-button:hover {
  color: #f2b74f;
  background-color: #800000;
  cursor: pointer;
}

.options {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  width: 186px;
  border: 4px solid;
  border-radius: 4px;
  /*! margin: auto; */
}

.option:nth-child(1) {
  border-top: unset;
}

.option {
  cursor: pointer;
  width: auto;
  transition: background-color 200ms ease;
  border-top: 4px solid #800;
}

.option:hover {
  background-color: #800;
  cursor: pointer;
}

.option:hover p {
  color: #f2b74f;
}

.option p {
  font-weight: bold;
  margin: 0.5rem auto;
  width: max-content;
  transition: color 200ms ease;
  text-transform: capitalize;
}

.close {
  text-align: center;
}

.item-options {
  position: relative;
}

.flag-module .item-description {
  max-height: 256px;
  overflow-y: auto;
}

.active-menu p {
  border-bottom: dashed 2px;
}

.row {
  display: flex;
  flex-flow: row;
}

.col {
  display: flex;
  flex-flow: column;
}

.flex-cen {
  justify-content: center;
}

.flex-dist {
  justify-content: space-evenly;
}

.flex-max {
  justify-content: space-between;
}

.between {
  justify-content: space-between;
}

.f2 {
  display: none;
}

.f1 {}

.f1:hover .f2 {
  display: block;
  cursor: pointer;
}

.f1:hover .f3 {
  display: none;
  position: absolute;
  left: -62px;
}

td {
  color: #f2b74f;
  font-family: 'Baloo Chettan 2', cursive;
}

select {
  background-color: #800;
  border: none;
  padding: 0.5rem;
  text-align: center;
}

option {
  color: #f2b74f;
}

textarea {
  max-width: 100%;
}

.right-pad {
  padding-right: 0.5rem;
}

.left-pad {
  padding-left: 0.5rem;
}

.margin-3-v {
  margin-right: 3rem;
  margin-left: 3rem;
}

.margin-3 {
  margin: 3rem auto;
}

.margin-2-v {
  margin-right: 2rem;
  margin-left: 2rem;
}

.margin-3-h {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-2-h {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modal-wrap {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  top: 0px;
  width: 100%;
  display: flex;
  margin: unset;
  left: 0px;
  flex-flow: column;
  justify-content: center;
}

.modal {
  border: 4px solid #f2b74f;
  z-index: 2;
  height: 95%;
  min-height: 512px;
  width: calc(100% - 5rem);
  max-width: 720px;
  background: #eeeeee;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
}

.modal-iframe {
  width: 100%;
  height: 100%;
}

.modal-pad {
  padding-bottom: 1rem;
}

.reset-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.cloud-l {
  width: auto;
  height: 64px;
  position: relative;
  left: -32px;
  z-index: -1;
}

.cloud-r {
  width: auto;
  height: 64px;
  position: relative;
  right: -42px;
  z-index: -1;
}

.clouds-1 {
  position: relative;
  height: auto;
  width: 480px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: -66px;
}

.clouds-2 {
  position: relative;
  height: auto;
  width: 480px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: auto;
  margin-top: -66px;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

.flag-buy {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.flag-container {
  margin: 5rem 0rem;
}

.flag-info {
  font-size: 1rem;
}

.flag-data {
  margin: 1rem;
  position: relative;
}

.flag-data p {
  text-align: center;
}

.flag-data-header {
  text-align: center;
}

.flag-data-header h2 {
  margin: 0.5rem 0rem;
}

.flag-info b {
  font-size: 1.4rem;
}

.flag-cover {
  max-width: 300px;
  min-width: 256px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  min-height: 570px;
}

.flag-module {
  position: relative;
  width: 260px;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  justify-content: flex-start;
  transition: transform 200ms ease;
  transform: translatey(0px);
  background-color: white;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0.2), inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  margin-bottom: 1rem;
  transition: width 200ms ease;
  height: 570px;
}

.flag-module:hover {
  transform: translatey(-2px);
  cursor: pointer;
}

.flag-module .flag-image {
  transform: scale(1);
  transition: transform 200ms ease;
}

.flag-module:hover .flag-image {
  transform: scale(1.05);
}

.flag-image {
  width: 80%;
  max-width: 256px;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.flag-info {
  text-align: center;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.shop-container {
  margin: 4rem 0.5rem;
}

.shop-module {
  position: relative;
  width: 410px;
  max-width: 410px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: transform 200ms ease;
  transform: translatey(0px);
  background-color: white;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  /*! margin-bottom: 0.5rem; */
  height: 410px;
}

.shop-module:hover {
  transform: translatey(-2px);
  cursor: pointer;
}

.shop-module .shop-image {
  transform: scale(1);
  transition: transform 200ms ease;
}

.shop-module:hover .shop-image {
  transform: scale(1.1);
}

.shop-info {
  font-size: 1.2rem;
}

.shop-info b {
  font-size: 1.8rem;
}

.shop-image {
  width: 80%;
  max-width: 200px;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.shop-info {
  text-align: center;
  margin: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.product-container {
  margin: 5rem 0.5rem;
}

.product-module {
  position: relative;
  width: 512px;
  max-width: 420px;
  min-height: 390px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: transform 200ms ease;
  transform: translatey(0px);
  background-color: white;
  border: 2px solid #800000;
  border-radius: 4px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.product-module:hover {
  transform: translatey(-2px);
  cursor: pointer;
}

.product-module .product-image {
  transform: scale(1);
  transition: transform 200ms ease;
}

.product-module:hover .product-image {
  transform: scale(1.1);
}

.product-info {
  font-size: 1rem;
}

.product-info b {
  font-size: 1.4rem;
}

.product-image {
  width: 80%;
  max-width: 200px;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.product-info {
  text-align: center;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.contact-links {
  font-size: 1.4rem !important;
}

.contact-links a {
  text-decoration: none;
  color: #800000 !important;
}

.contact-links a:hover {
  text-decoration: underline;
  color: #800000 !important;
}

.nomarg {
  line-height: 1;
  margin: unset !important;
}

.smallmarg {
  margin: 0.5rem auto;
}

.image-buffer {
  padding: 1rem;
  border: 4px solid #f2b74f;
  background-color: white;
  border-radius: 4px;
  margin: auto;
  width: max-content;
}

.body-wrapper {
  width: calc(100% - 1rem);
  margin: auto 0.5rem;
}

.body-wrapper-2 {
  width: calc(100% - 30px);
  margin: 15px;
}

.flag {
  width: 475px;
  margin: auto;
  filter: sepia(0.5)opacity(0.8);
  margin-top: 0.5rem;
}

.add-info {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.section-title {
  width: 100%;
}

.centered-text {
  text-align: center;
}

.centered-marg {
  margin: auto;
}

.button {
  padding: 0.5rem;
  border-radius: 4px;
  border: 4px solid #0002;
  display: flex;
  background-color: #800000;
  flex-flow: column;
  justify-content: center;
  margin: 0.5rem;
}

.button h3 {
  margin: unset;
  line-height: 1;
  color: #f2b74f !important;
}

.button:hover {
  background-color: #f2b74f;
}

.button:hover h3 {
  color: #800000 !important;
}

.learn-more {
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 4px;
}

.learn-more a {
  margin: unset;
  height: max-content;
  color: unset;
  text-decoration: none;
}

.learn-more h3 {
  height: max-content;
  color: unset;
}

.learn-more-title {
  margin-bottom: unset;
  margin-top: unset;
}

.icon-sm {
  width: 1.5rem
}

.add-info h3 {
  margin: 0.25rem;
  line-height: 1;
}

.add-info p {
  margin: 0.25rem;
  line-height: 1;
}

.nav-row {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: max-content;
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  border: 4px solid #c29244;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.menu-item {
  text-transform: uppercase;
  text-decoration: none;
  margin: unset;
  padding: 0px 1rem;
  font-weight: bold;
  color: #800000;
  background-color: #f2b74f;
  line-height: 1;
  text-shadow: 0px 1px 0px #c29244;
  transition: background-color 200ms, text-shadow 200ms, box-shadow 200ms ease;
}

.menu-item:hover {
  background-color: #dca94e;
  text-shadow: 0px 1px 0px #c29244;
  box-shadow: inset 0px -3px 0px #c29244;
}

.list-half {
  max-width: 512px;
}

.contact-row {
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: center;
  margin: auto;
  background-image: url(feature-3.png);
  width: 290px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-icon {
  height: 48px;
  padding: 0.5rem;
}

.contact-icon:hover {
  opacity: 0.5;
}

.small-contact {
  /*! border: 3px dashed #800000; */
  border-radius: 1rem;
  padding: 0.5rem;
}

.wholesale-a {
  margin: auto;
}

.wholesale-icon {
  width: 64px;
  padding: 0.5rem;
  margin: auto;
}

.wholesale-icon:hover {
  opacity: 0.5;
}

.greeting-a {
  font-family: 'Jomolhari', serif;
  font-size: 7rem;
  margin: unset;
  text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
  line-height: 1;
  margin-top: 2rem;
}

.greeting-b {
  font-size: 2.8rem;
  margin: unset;
  text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  line-height: 1;
}

.greeting {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 3px 0px #670000;
  max-width: 480px;
  margin: auto;
  background-image: url(flag-transparent.png);
  background-size: cover;
  background-position: top center;
  width: 100%;
}

.greeting-a-2 {
  font-family: 'Jomolhari', serif;
  font-size: 4rem;
  margin: unset;
  text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.greeting-b-2 {
  font-size: 2.5rem;
  margin: unset;
  text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
  line-height: 1;
  /*! border-top: 1px solid black; */
}

.greeting-2 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-image: url(flag-transparent.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 700px;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 1rem;
}

.greeting-2 p {
  text-transform: uppercase;
  line-height: 1.8;
  margin: auto;
  text-shadow: 0px 1px #670000, 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #670000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: max-content;
  font-weight: bold;
  box-shadow: 0px -2px;
  line-height: 1.5;
}

.description h2 {
  text-shadow: 1px 1px #670000;
  margin: 0.75rem;
}

.description p {
  max-width: 450px;
  font-weight: light;
  background-color: #800000dd;
  text-shadow: 1px 1px 3px #670000;
  font-size: 1.4rem;
  margin: 0.5rem auto;
  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.5), 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 0.75rem;
  border: 4px solid #f2b74f;
  color: #f2b74f;
  font-weight: 100;
  letter-spacing: 1px;
}

.knots {
  position: fixed;
  bottom: 0px;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.e-knot {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 86px;
  width: 110px;
  margin: auto 1rem;
  background-image: url(endless-knot.png);
}

.e-knot h2 {
  text-align: center;
  width: 100%;
  line-height: 1.2;
  font-size: 3rem;
  text-shadow: 2px 2px #800000, 0px 2px #800000, 0px -2px #800000, 2px 0px #800000, -2px 0px #800000, 2px -2px #800000, -2px 2px #800000, -2px -2px #800000 !important;
}

.e-knot:hover h2 {
  color: #800;
  text-shadow: 1px 1px #f2b74f, 0px 1px #f2b74f, 0px -1px #f2b74f, 1px 0px #f2b74f, -1px 0px #f2b74f, 1px -1px #f2b74f, -1px 1px #f2b74f, -1px -1px #f2b74f !important;
}

.e-knot:hover {
  margin: auto 1rem;
  background-image: url(endless-knot-i.png);
}

.feature {
  width: 75%;
  margin: 0rem auto;
  max-width: 480px;
}

.feature-2 {
  width: 75%;
  max-width: 256px;
  display: flex;
  margin: auto;
}

.description {
  text-align: center;
  background-image: url();
  line-height: 1.2;
}

.description-wrapper {
  max-width: 512px;
  margin: auto;
}

.about-wrapper {
  background-image: url(dot.png);
  background-blend-mode: overlay;
  max-width: 900px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #f2b74f;
  color: #800000;
  box-shadow: inset 0px 0px 0px 8px rgba(0, 0, 0, 0.1), 1px 1px #c29244, 2px 2px #c29244, 3px 3px #c29244, 4px 4px #c29244, 5px 5px #c29244, 6px 6px #c29244, 7px 7px #c29244, 8px 8px #c29244, 9px 9px #c29244, 10px 10px #c29244, 11px 11px #c29244, 12px 12px #c29244, 13px 13px #c29244, 14px 14px #c29244, 15px 15px #c29244, 16px 16px #c29244, 17px 17px #c29244, 18px 18px #c29244, 19px 19px #c29244, 20px 20px #c29244, -1px 1px #c29244, -2px 2px #c29244, -3px 3px #c29244, -4px 4px #c29244, -5px 5px #c29244, -6px 6px #c29244, -7px 7px #c29244, -8px 8px #c29244, -9px 9px #c29244, -10px 10px #c29244, -11px 11px #c29244, -12px 12px #c29244, -13px 13px #c29244, -14px 14px #c29244, -15px 15px #c29244, -16px 16px #c29244, -17px 17px #c29244, -18px 18px #c29244, -19px 19px #c29244, -20px 20px #c29244, 0px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.context-header {
  margin: 0rem;
  padding: 0.5rem 1rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 1px 2px 0px #c29244, 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -500px #800000, 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-color: #670000;
  color: #f2b74f;
  border-radius: 4px;
  transition: color 200ms, box-shadow 200ms, border-color 200ms, border-bottom 400ms, border-left 600ms, border-top 800ms, border-right 1000ms, text-shadow 200ms ease;
  line-height: 1;
}

.context-header:hover {
  text-shadow: 1px 2px 0px #670000, 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px #800000, 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid;
  border-left: 4px solid;
  border-top: 4px solid;
  border-right: 4px solid;
  border-color: #c29244;
  color: #800000;
}

.context-subheader {
  max-width: 512px;
  width: max-content;
  margin-top: unset;
  text-align: center;
  text-shadow: 1px 2px 0px #670000, 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

@keyframes bounce {
  0% {
    transform: translatey(0px);
  }

  20% {
    transform: translatey(0px);
  }

  25% {
    transform: translatey(-2px);
  }

  30% {
    transform: translatey(0px);
  }

  35% {
    transform: translatey(-2px);
  }

  40% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}

.context-subheader:hover img {
  animation: bounce 2s ease infinite;
}

.quicklink-box {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 0px 4px;
}

.quicklink-box {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quicklinks-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: auto;
  overflow: visible;
  padding: 4px;
  width: 30%;
}

.quicklinks-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0.5rem auto;
  max-width: 450px;
  padding: 0rem 0.75rem;
  background: #710000;
  border-radius: 4px;
  border: 4px solid #800;
  box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
}

.quicklink {
  height: 54px;
  width: auto;
  margin: auto;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  color: #800000;
  text-shadow: 1px 1px #f2b74f, 0px 1px #f2b74f, 0px -1px #f2b74f, 1px 0px #f2b74f, -1px 0px #f2b74f, 1px -1px #f2b74f, -1px 1px #f2b74f, -1px -1px #f2b74f;
}

.quicklink:hover {
  color: #f2b74f;
  text-shadow: 2px 2px #800000, 0px 2px #800000, 0px -2px #800000, 2px 0px #800000, -2px 0px #800000, 2px -2px #800000, -2px 2px #800000, -2px -2px #800000;
}

.corner-knot-l {
  width: 256px;
  position: absolute;
  height: 256px;
  top: 0px;
  left: 0px;
  filter: invert(0)opacity(0.2);
  z-index: -1;
}

.corner-knot-r {
  width: 256px;
  position: absolute;
  height: 256px;
  top: 0px;
  right: 0px;
  filter: invert(0)opacity(0.2);
  z-index: -1;
  transform: rotate(90deg);
}

.corner-knot-l-bottom {
  width: 256px;
  position: absolute;
  height: 256px;
  bottom: 0px;
  right: 0px;
  filter: invert(0)opacity(0.2);
  transform: rotate(180deg);
  z-index: -1;
}

.corner-knot-r-bottom {
  width: 256px;
  position: absolute;
  height: 256px;
  bottom: 0px;
  left: 0px;
  filter: invert(0)opacity(0.2);
  transform: rotate(270deg);
  z-index: -1;
}

/* Media Queries */
@media (max-width:768px) {
  .shop-module {
    width: 300px;
  }

  .context-subheader {
    max-width: 100%;
  }

  .item-purchase {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

  .item-info {
    width: auto;
  }

  .flag-module {
    width: 100%;
    height: 570px;
    flex-flow: column;
  }

  .product-module {
    width: 256px;
  }

  .item {
    margin: 2rem 0rem;
    display: flex;
    flex-flow: wrap;
    padding: 1rem 0rem;
    /*! border-bottom: 1px dashed #800; */
  }

  .item:nth-child(even) td {
    text-align: right !important;
  }

  .item:nth-child(even) {
    flex-flow: wrap;
    text-align: right;
  }

  .item:nth-child(even) .item-image img {
    margin-right: unset;
    margin-left: auto;
  }

  .item:nth-child(even) .item-purchase {
    justify-content: flex-end;
  }

  .item-image img {
    width: auto;
    max-height: 50vh;
    margin-right: auto;
    min-width: 20vw;
    max-width: 100%;
  }

  .menu-item {
    width: max-content;
    text-transform: uppercase;
    text-decoration: none;
    margin: unset;
    padding: 0px 0.3rem;
    font-weight: bold;
    color: #800000;
    background-color: #f2b74f;
    line-height: 1;
    text-shadow: 0px 1px 0px #c29244;
    transition: background-color 200ms, text-shadow 200ms, box-shadow 200ms ease;
  }

  .contact-icon {
    height: 32px;
  }

  .about-wrapper {
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #f2b74f;
    color: #800000;
    box-shadow: 1px 1px #c29244, 2px 2px #c29244, 3px 3px #c29244, 4px 4px #c29244, 5px 5px #c29244, 6px 6px #c29244, 7px 7px #c29244, 8px 8px #c29244, 9px 9px #c29244, 10px 10px #c29244, 11px 11px #c29244, 12px 12px #c29244, 13px 13px #c29244, 14px 14px #c29244, 15px 15px #c29244, 16px 16px #c29244, 17px 17px #c29244, 18px 18px #c29244, 19px 19px #c29244, 20px 20px #c29244, -1px 1px #c29244, -2px 2px #c29244, -3px 3px #c29244, -4px 4px #c29244, -5px 5px #c29244, -6px 6px #c29244, -7px 7px #c29244, -8px 8px #c29244, -9px 9px #c29244, -10px 10px #c29244, -11px 11px #c29244, -12px 12px #c29244, -13px 13px #c29244, -14px 14px #c29244, -15px 15px #c29244, -16px 16px #c29244, -17px 17px #c29244, -18px 18px #c29244, -19px 19px #c29244, -20px 20px #c29244, 0px 20px 50px rgba(0, 0, 0, 0.5);
    text-align: left;
    border: ;
  }

  .item .item-info {
    width: auto;
    padding: 0rem 1rem;
  }

  .e-knot {
    height: 64px;
    width: 110px;
  }

  .quicklinks-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0.75rem auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 64px;
  }

  .quicklink {
    height: 42px;
    width: auto;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #800000;
    text-shadow: 1px 1px #f2b74f, 0px 1px #f2b74f, 0px -1px #f2b74f, 1px 0px #f2b74f, -1px 0px #f2b74f, 1px -1px #f2b74f, -1px 1px #f2b74f, -1px -1px #f2b74f;
  }

  .menu-item:hover {
    background-color: initial;
  }

  .fullw {
    width: 100%;
  }

  .row {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .col {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .menu-item p {}

  .description {
    text-align: center;
    background-image: url();
    line-height: 1.2;
  }

  td {
    color: #800;
    font-size: 1rem !important;
  }

  select {
    background-color: #800;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem !important;
    color: #f2b74f !important;
    font-family: 'Baloo Chettan 2', cursive !important;
  }

  option {
    color: #f2b74f !important;
    font-size: 1rem !important;
    font-family: 'Baloo Chettan 2', cursive !important;
  }

  input {
    font-size: 1.2rem !important;
    font-family: 'Baloo Chettan 2', cursive !important;
  }

  .description p {
    max-width: 460px;
  }

  .description-wrapper {
    max-width: 512px;
    margin: auto;
  }

  h1 {
    font-size: 3.6rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  h4 {
    font-wize: 1.6rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  a {
    font-size: 1.2rem;
  }

  .modal-open {
    width: -moz-available;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  footer {
    padding: 0.5rem 0rem;
  }

  .nav-row {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    margin-bottom: 0rem;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid #c29244;
    background-color: #f2b74f;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }

  .flag {
    width: 100%;
    margin: auto;
  }

  .item-image {
    min-width: 20%;
    /*! margin-right: 1rem; */
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: auto;
  }

  .item-image img {
    width: 400px;
  }

  .greeting-a {
    font-family: 'Jomolhari', serif;
    font-size: 5rem;
    margin: unset;
    text-shadow: 0px 3px 0px #670000;
    line-height: 1.2;
    margin-top: 1.5rem;
  }

  .greeting-b {
    font-size: 2rem;
    margin: unset;
    text-shadow: 0px 3px 0px #670000;
  }

  .greeting {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px 3px 0px #670000;
    padding-bottom: 1rem;
  }

  .contact-row {
    justify-content: space-evenly;
  }

  .corner-knot-l {
    width: 128px;
    max-width: 50%;
    position: absolute;
    height: 128px;
    max-height: 50%;
    top: 0px;
    left: 0px;
    filter: invert(0)opacity(0.2);
    z-index: -1;
  }

  .corner-knot-r {
    width: 128px;
    max-width: 50%;
    position: absolute;
    height: 128px;
    max-height: 50%;
    top: 0px;
    right: 0px;
    filter: invert(0)opacity(0.2);
    z-index: -1;
  }

  .corner-knot-l-bottom {
    width: 128px;
    max-width: 50%;
    position: absolute;
    height: 128px;
    max-height: 50%;
    bottom: 0px;
    right: 0px;
    filter: invert(0)opacity(0.2);
    transform: rotate(180deg);
    z-index: -1;
  }

  .corner-knot-r-bottom {
    width: 128px;
    max-width: 50%;
    position: absolute;
    height: 128px;
    max-height: 50%;
    bottom: 0px;
    left: 0px;
    filter: invert(0)opacity(0.2);
    transform: rotate(270deg);
    z-index: -1;
  }

  .greeting-2 {
    width: auto;
    height: auto;
  }

  .greeting-a-2 {
    font-family: 'Jomolhari', serif;
    font-size: 3rem;
    margin: unset;
    text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
    line-height: 1;
  }

  .greeting-b-2 {
    font-size: 2.15rem;
    margin: unset;
    text-shadow: 0px 3px 0px #670000, 0px 4px 10px rgba(0, 0, 0, 0.5);
    line-height: 1;
    /*! border-top: 1px solid black; */
  }
}

@media (max-width:512px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
